:root {
    --primary-color: #6200c4;
    --secondary-color: #9123ff;
    --body-font-color: #727272;
    --card-font-color: #727272;
    --dark-bg-color: #fbf9fc;
    --heading-color: #727272;
    --light-bg-color: #ffffff;
    --drop-shadow: #f1f1f1;
}

[data-theme="dark"] {
    --primary-color: #9123ff;
    --secondary-color: #17b372;
    --body-font-color: #f2f1f3;
    --card-font-color: #ebebeb;
    --dark-bg-color: #161625;
    --heading-color: #f4e9ff;
    --light-bg-color: #0a0113;
    --drop-shadow: #161625;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-bg-color);
    padding: 70px 20px 90px 20px;
}

.entry-title {
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 500;
}

header {
    background: var(--light-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 20px 10px 20px;
}

.theme-switcher {
    display: flex;
    align-items: center;
}

.theme-switcher em {
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 60px;
    margin: 0 10px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 22px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 22px;
}

input:checked+.slider {
    background-color: var(--secondary-color);
}

input:checked+.slider:before {
    transform: translateX(30px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (min-width: 600px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 32px;
    }
    .main {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--dark-bg-color);
        padding: 90px 32px 32px 32px;
    }
    .entry-title {
        color: var(--heading-color);
        font-size: 36px;
        font-weight: 500;
    }
    header {
        background: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        padding: 10px 32px 10px 32px;
    }
    .theme-switcher {
        display: flex;
        align-items: center;
    }
    .theme-switcher em {
        font-size: 1rem;
    }
    .theme-switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
        margin: 0 10px;
    }
    .theme-switch input {
        display: none;
    }
    .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
    }
    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }
    input:checked+.slider {
        background-color: var(--secondary-color);
    }
    input:checked+.slider:before {
        transform: translateX(26px);
    }
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
}

@media only screen and (min-width: 961px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 32px;
    }
    .main {
        position: relative;
        top: 0;
        left: 20%;
        width: 80%;
        height: 100%;
        background: var(--dark-bg-color);
        padding: 90px 32px 32px 57px;
    }
    .entry-title {
        color: var(--heading-color);
        font-size: 36px;
        font-weight: 500;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 20%;
        width: 80%;
        z-index: 999;
        padding: 10px 32px 10px 57px;
    }
    .theme-switcher {
        display: flex;
        align-items: center;
    }
    .theme-switcher em {
        font-size: 1rem;
    }
    .theme-switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
        margin: 0 10px;
    }
    .theme-switch input {
        display: none;
    }
    .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
    }
    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }
    input:checked+.slider {
        background-color: var(--secondary-color);
    }
    input:checked+.slider:before {
        transform: translateX(26px);
    }
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
}